@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 0;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 70px rgb(22, 21, 119);
}

::-webkit-scrollbar-thumb {
  background: aliceblue;
  border-radius: 10px;
}


